@value makerLightGrey from '../../common/colors.css';

.left {
  width: 100%;
  text-align: center;
  border-right: 1px solid makerLightGrey;
}

@media screen and (max-width: 1200px) {
  .left {
    border-right: none;
    border-bottom: 1px solid makerLightGrey;
    flex: 1;
  }
}
